# Ignore everything in the root directory
/*

# Allow .gitignore itself so it can be tracked
!/.gitignore
!/assets
!/.github
# Allow all .robot files in the root directory
!/*.robot
!/*.md
!/requirements.txt
CLAUDE.md
